In [1]:
import pandas as pd
import numpy as np

In [6]:
db = pd.read_csv('insect.txt', 
                 header=None, 
                 names=['Y', 'X1', 'X2', 'X3'], 
                 sep=' ')
db.head()

   Y   X1   X2  X3
0  a  191  131  53
1  a  185  134  50
2  a  200  137  52
3  a  173  127  50
4  a  171  128  49

In [7]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis as LDA

In [8]:
model = LDA()

In [20]:
Y = np.array(db['Y'])
X = np.array(db[['X1', 'X2', 'X3']])

In [22]:
model.fit(X,Y)

LinearDiscriminantAnalysis()

In [25]:
print(model.predict([[190, 131, 53]]))

['a']

In [26]:
from scipy.stats import bartlett

In [28]:
stat, p = bartlett(db['X1'], db['X2'], db['X3'])

In [29]:
p

1.0685193072965499e-12

In [30]:
stat

55.12949450156246

In [31]:
[np.var(x, ddof=1) for x in [db['X1'], db['X2'], db['X3']]]

[441.9236842105263, 85.83157894736841, 7.694736842105264]